<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Squirrel Pals App</title>
    <link rel="stylesheet" href="./index.css" />
  </head>
  <body>
    <div id="app">
      <div class="login-container">
        <h2>{{ showPage === 'login'? 'Login': 'Register' }}</h2>
        <div class="form-group">
          <label for="username">Username:</label>
          <input
            type="text"
            id="username"
            v-model="username"
            placeholder="Enter your username"
          />
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input
            type="password"
            id="password"
            v-model="password"
            placeholder="Enter your password"
          />
        </div>
        <button class="btn" @click="clickHandle">
          {{ showPage === 'login'? 'Login': 'Register' }}
        </button>
        <div
          style="
            text-align: right;
            font-size: 12px;
            cursor: pointer;
            color: aquamarine;
          "
          @click="showPage='register'"
          v-if="showPage === 'login'"
        >
          <span>Go To Register</span>
        </div>
        <div
          style="
            text-align: right;
            font-size: 12px;
            cursor: pointer;
            color: aquamarine;
          "
          @click="showPage='login'"
          v-else
        >
          <span>Go To Login</span>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@3.5.12/dist/vue.global.min.js"></script>
    <script>
      const { createApp, ref } = Vue;

      createApp({
        data() {
          return {
            showPage: "login",
            username: "",
            password: "",
          };
        },
        methods: {
          async clickHandle() {
            const fetchUri =
              this.showPage === "login"
                ? "http://127.0.0.1:8080/login"
                : "http://127.0.0.1:8080/register";
            const response = await fetch(fetchUri, {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify({
                username: this.username,
                password: this.password,
              }),
            });
            console.log(await response.json());
            if (response.status === 200) {
              alert("Login Success");
            } else if (response.status === 404) {
              alert("user name does not exist");
            } else if (response.status === 401) {
              alert("Password error");
            } else if (response.status === 201) {
              alert("Register Success");
            } else if (response.status === 403) {
              alert("user name already exists");
            } else {
              alert("unknown error");
            }
          },
        },
      }).mount("#app");
    </script>
  </body>
</html>
