<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Squirrel Pals App</title>
  <link rel="stylesheet" href="./index.css" />
</head>

<body>
  <div id="app">
    <div class="login-container" v-if="showPage === 'login' || showPage === 'register'">
      <h2>{{ showPage === 'login'? 'Login': 'Register' }}</h2>
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" v-model="username" placeholder="Enter your username" />
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" v-model="password" placeholder="Enter your password" />
      </div>
      <button class="btn" @click="clickHandle">
        {{ showPage === 'login'? 'Login': 'Register' }}
      </button>
      <div style="
            text-align: right;
            font-size: 12px;
            cursor: pointer;
            color: aquamarine;
          " @click="showPage='register'" v-if="showPage === 'login'">
        <span>Go To Register</span>
      </div>
      <div style="
            text-align: right;
            font-size: 12px;
            cursor: pointer;
            color: aquamarine;
          " @click="showPage='login'" v-else>
        <span>Go To Login</span>
      </div>
    </div>

    <div class="main-container" v-if="showPage==='main'">
      <div style="text-align: center">
        <h2>Welcome Squirrel Pals App</h2>
      </div>
      <div class="new-link-container">
        <button @click="showMyFavourites" v-if="logged">
          Favourites
        </button>
        <button @click="toggleModal" v-if="logged">New Link</button>
        <button v-if="logged" @click="logout">Logout</button>
        <button @click="showPage='login'" v-else>Login</button>
      </div>
      <div class="links-container">
        <div class="accordion" :id="'link-' + item.id" v-for="item in links" :key="item.id"
          @click="linkItemClick(item)">
          <div class="accordion-header">
            <span class="link-title">{{item.title}}</span>
            <span class="link-owner">{{ item.username }}</span>
            <span class="link-score">{{item.score}}</span>
          </div>
          <div class="accordion-content">
            <p class="link-item">
              <a :href="item.link" target="_blank">{{ item.link }}</a>
            </p>
            <p>{{ item.desc }}</p>
            <div class="comment-container" v-if="logged">
              Score:
              <select v-model="item.personalScore" @click.stop="() => {}"
                @change="(event) => {handleChange(event, item.id)}">
                <option :value="null">Please select an option</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
              <div style="display: flex">
                <span style="margin-left: auto"><button @click.stop="hiddenLink(item.id)">
                    Hidden
                  </button></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="main-container" v-if="showPage === 'Favourites'">
      <div style="text-align: center">
        <h2>Welcome Squirrel Pals App</h2>
        <h4>My Favourites</h4>
      </div>
      <div class="new-link-container">
        <button @click="showMain" v-if="logged">Index</button>
      </div>
      <div class="links-container">
        <div class="accordion" :id="'link-' + item.id" v-for="item in links" :key="item.id"
          @click="linkItemClick(item)">
          <div class="accordion-header">
            <span class="link-title">{{item.title}}</span>
            <span class="link-owner">{{ item.username }}</span>
            <span class="link-score">{{item.score}}</span>
          </div>
          <div class="accordion-content">
            <p class="link-item">
              <a :href="item.link" target="_blank">{{ item.link }}</a>
            </p>
            <p>{{ item.desc }}</p>
          </div>
        </div>
      </div>
    </div>

    <!-- overlay  -->
    <div class="overlay" @click="toggleModal"></div>
    <!-- modal -->
    <div class="modal" id="modal">
      <h2>New link:</h2>
      <form>
        <label for="title">Title:</label><br />
        <input type="text" id="title" name="title" /><br />
        <label for="desc">Description:</label><br />
        <textarea id="desc" name="desc"></textarea><br />
        <label for="link">Link:</label><br />
        <input type="text" id="link" name="link" /><br /><br />
      </form>
      <button class="form-btn" @click="submitNewLink">Submit</button>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@3.5.12/dist/vue.global.min.js"></script>
  <script src="./index.js">
  </script>
</body>

</html>
