body {
  font-family: Arial, sans-serif;
  background-color: #f2f4f7; 
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 600px; 
  margin: auto; 
  background-color: #ffffff; 
  border-radius: 10px; 
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 
  padding: 20px; 
}

h1 {
  color: #333; 
  text-align: center; 
}

label {
  display: block; 
  margin-top: 15px; 
}

input[type="text"], textarea {
  width: 100%; 
  padding: 10px; 
  margin-top: 5px; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
  box-sizing: border-box; 
}

button {
  background-color: #4caf50; 
  color: white; 
  border: none; 
  padding: 12px 20px; 
  border-radius: 5px; 
  cursor: pointer; 
  font-size: 16px;
  transition: background-color 0.3s; 
  margin-top: 20px;
  display: block; 
  width: 100%; 
}

button:hover {
  background-color: #45a049; 
}

.message {
  margin-top: 20px;
  text-align: center; 
  color: red; 
}

.go-back {
  cursor: pointer;
  background-color: #4caf50;
  width: 50px;
  padding: 5px;
  color: tomato;
}
