body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loginBox {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 500px;
  text-align: center;
}

.loginTitle {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.inputField {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

.inputField:focus {
  outline: none;
  border-color: #3498db;
}

.loginBtn {
  width: 100%;
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
}

.loginBtn:hover {
  background-color: #2980b9;
}

.threadBox {
  background-color: #fff;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.threadTitle {
  font-size: 18px;
  color: #333;
  margin-bottom: 5px;
  background-color: aquamarine;
  padding: 5px;
}

.postsBox {
  display: none;
  margin-left: 20px;
  padding: 10px;
}

.postInline {
  border-bottom: 1px solid #ccc;
  padding: 5px 0;
}


.formGroup {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.deleteTreadButton {
  color: red;
  margin-left: 20px;
}
