body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f6f5f5;
  color: #70737a;
}

.container {
  width: 400px;
  min-height: 200px;
  background-color: rgb(181, 178, 178);
  align-items: center;
  padding: 20px;
  flex-direction: column;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.threads-container {
  margin: 10px;
}

.all-threads {
  margin-top: 10px;
  background-color: #f6f5f5;
  min-height: 200px;
  max-height: 400px;
  width: 380px;
  overflow-y: auto;
}

.all-threads p {
  display: block;
  margin: 5px;
}

.back-btn {
  border: none;
  background-color: yellow;
  cursor: pointer;
}

.delete-btn {
  border: none;
  background-color: orange;
  cursor: pointer;
  visibility: hidden;
}
